<%- include("header") %>

<div>
    <div>
        <h1>Account information</h1>
        <table class="pure-table">
            <tr>
                <td>ID</td>
                <td><%= user.identifier %></td>
            </tr>
            <tr>
                <td>Steam Id</td>
                <td><%= user.steamId %></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><%= user.displayName %></td>
            </tr>
        </table>
        <p>
            <a href="/"><button class="pure-button">Go to homepage</button></a>
        </p>
    </div>
</div>