<%- include("header") %>

<div class="pure-g">
    <% if (user) { %>
        <div class="pure-u-2-3">
            <h1>Hello, <%= user.displayName %></h2>
            <a href="/piles"><button class="pure-button pure-button-primary">See Piles</button></a>
            <a href="/account"><button class="pure-button">See Account Information</button></a>
        </div>
        <div class="pure-u-1-3">
            <a href='/logout' class="right"><button class="pure-button">Logout</button></a>
        </div>
    <% } else { %>
        <div class="pure-u">
            <h1>Welcome! Please log in.</h2>
            <p><a href="/auth/steam">Sign On with Steam</a></p>
        </div>
    <% } %>
</div>