<%- include("header") %>

<script type="text/javascript">
    const createPile = () => {
        const url = '/pile'

        const pile = {
            name: document.getElementById("pile-name").value
        }

        const options = {
            method: 'POST',
            body: JSON.stringify(pile),
            headers: {
                'Content-Type': 'application/json'
            }
        }

        fetch(url, options)
            .then(res => res.json())
            .then(res => window.location = `${res.identifier}`)
    }
</script>

<div>
    <h1>Create Pile</h2>
    <form class="pure-form pure-form-stacked">
        <label for="pile-name">Name</label>
        <input id="pile-name" type="text"/>
    </form>
    <p>
        <button class="pure-button pure-button-primary" type="button" onclick="createPile()">Save</button>
        <a href="/piles"><button class="pure-button">Cancel</button></a>
    </p>
</div>