<%- include("header") %>

<script type="text/javascript">
    const createPile = () => {
        const url = '/pile'

        const pile = {
        }

        const options = {
            method: 'POST',
            body: JSON.stringify(pile),
            headers: {
                'Content-Type': 'application/json'
            }
        }

        fetch(url, options)
            .then(res => res.json())
            .then(res => console.log(res))
    }
</script>

<div>
    <h1>Piles</h2>
    <% if (piles.length > 0) { %>
    <table class="pure-u">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <% piles.forEach(pile => { %>
            <td><%= pile.name %></li>
            <td><a href="/piles/<%= pile.identifier %>"><button class="pure-button">View</button></a></li>
        <% }) %>
        </tbody>
    </table>
    <% } else { %>
        <p>No piles visible. Create one or get the share link from someone else.</p>
    <% } %> 
    <p>
        <a href="piles/create"><button class="pure-button pure-button-primary">Create pile</button></a>
        <a href="/"><button class="pure-button">Go to homepage</button></a>
    </p>
</div>