<script type="text/javascript">
    const createPile = () => {
        const url = '/pile'

        // post body data
        const pile = {
            name: document.getElementById("pile-name").value
        }

        // request options
        const options = {
            method: 'POST',
            body: JSON.stringify(pile),
            headers: {
                'Content-Type': 'application/json'
            }
        }

        // send POST request
        fetch(url, options)
            .then(res => res.json())
            .then(res => window.location = `${res.identifier}`)
    }
</script>

<div>
    <form>
        <label for="pile-name">Name</label><input id="pile-name" type="text"/>
        <button type="button" onclick="createPile()">Save</button>
    </form>
    <p><a href="/piles">Go to pile list</a></p>
</div>